<form class="kwes-form" action="https://kwesforms.com/api/foreign/forms/ReoxbabUG9jyrDvxxfQJ" success-message="Thanks! Your inquiry has been received. We will respond to you pretty soon, till then, Happy Shopping!">
  <div class="form-element">
    <label for="name">Your Name</label>
    <input type="text" name="name" rules="required|max:50">
  </div>
  <div class="form-element one-half">
    <label for="email">Email</label>
    <input type="email" name="email" rules="required|email">
  </div>
  <div class="form-element one-half">
    <label for="phone">Phone Number</label>
    <input type="tel" name="phone" rules="required|regex:/^(\+)?(\d[\d\s\-]{8,})\d*$/">
  </div>
  <div class="form-element one-half">
    <label for="order_number">Order Number</label>
    <input type="text" name="order_number" rules="required|max:25" placeholder="HBI-">
  </div>
  <div class="form-element one-half">
    <label for="tracking_number">Tracking Number</label>
    <input type="text" name="tracking_number" rules="required|max:25" placeholder="">
  </div>
  <div class="form-element">
    <label for="reason">Reason For Inquiry</label>
    <select type="text" name="reason" rules="required">
      <option value="">Please select...</option>
      <option value="q_product">Q about a product</option>
      <option value="q_existing_order">Q about an existing order</option>
      <option value="q_new_order">Q about a new order</option>
      <option value="q_shipping_customs">Q about shipping/customs</option>
      <option value="q_returns">Q about returns</option>
      <option value="q_payment_issues">Q about payment issues</option>
      <option value="q_other">Other question/s</option>
    </select>
  </div>
  <div class="form-element">
    <label for="message">Message</label>
    <textarea name="message" rules="required"></textarea>
  </div>
  <div class="form-element input-checkbox-wrapper">
    <input class="input-checkbox" type="checkbox" id="accept" name="accept" rules="required">
    <label for="accept">
      I authorize IMbesharam to contact me via email in response to my inquiry and I agree to be signed up on IMbesharam's e-mailing list.
    </label>
  </div>
  <div class="form-element">
    <button type="submit">Submit</button>
  </div>
</form>