<form
  class="kwes-form"
  multistep
  enctype="multipart/form-data"
  action="https://kwesforms.com/api/foreign/forms/Hn282TKgfL7oPodCo5cM"
  success-message="
    Thanks! Your Return Request has been received.

    After the form is submitted, please allow our team 2 business days to review the details and get back to you with an RMA# (Return Merchant Authorization number) and instructions for return pickup. After you have received the RMA#, please follow the below steps to have the package ready for pickup.

    1. Please place the product back in its packaging along with all accessories as it came, and put it back in the original envelope/box that the order was delivered in.

    2. Please fill the Return Checklist (see here) and write the RMA# and insert it inside the envelope/box and then securely seal the package.

    3. Within 1-2 business days we will get the package picked up. You will be notified by the courier person who will coordinate the pickup. If your pincode is not serviceable for return pickup by our courier partners we will ask you to ship it yourself to our India Distribution Center for which we will re-imburse you via Paytm.

    4. Once we have received the return package and inspected it, we shall initiate the exchange/replacement process and inform you via email, the status of your return request as well as follow through till you get the replacement/exchange is completed and shipped or till your refund back to store credit processed.

    Please allow 7-10 business days for the whole cycle to complete. Your single point of contact throughout will be our central customer service email: hello@imbesharam.com">
  <div class="kw-multistep" multistep-dont-validate-prev>
    <div class="kw-multistep-step" form-step-heading="Step 1">
      <div class="kw-multistep-body form-wrapper">
        <div class="form-element input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" id="accept_1" name="accept_1" rules="required">
          <label for="accept_1">
            I confirm that I have read the RETURN POLICY & CONDITIONS shared above, and understand that the RETURN maybe
            denied if all conditions are not met.
          </label>
        </div>

        <div class="form-element input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" id="accept_2" name="accept_2" rules="required">
          <label for="accept_2">
            In case of Return &gt; Exchange I will be responsible for Rs599-999 shipping costs, and any price difference
            in the value of the replacement.
          </label>
        </div>

        <div class="form-element input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" id="accept_3" name="accept_3" rules="required">
          <label for="accept_3">
            In case of Return &gt; Cancel, Restocking Fees of 25% + Rs599-999 shipping costs will be deducted from my
            refund which comes only as Store Credit.
          </label>
        </div>

        <div class="form-element input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" id="accept_4" name="accept_4" rules="required">
          <label for="accept_4">
            If a product claimed to be defective/not working, and after arrival at our WH appears to be working, we have
            to reship upon collecting Rs599-999
          </label>
        </div>

        <div class="form-element one-half">
          <label for="name">Your Name</label>
          <input type="text" name="name" rules="required|max:20">
        </div>
        <div class="form-element one-half">
          <label for="name">Order Number</label>
          <input type="text" name="order_number" rules="required|max:25" placeholder="HBI-">
        </div>
        <div class="form-element one-half">
          <label for="email">Email</label>
          <input type="email" name="email" rules="required|email" placeholder="Email Address">
        </div>
        <div class="form-element one-half">
          <label for="phone">Phone Number</label>
          <input type="tel" name="phone" rules="required|regex:/^(\+)?(\d[\d\s\-]{8,})\d*$/" placeholder="Mobile #">
        </div>
        <div class="form-element">
          <label for="delivery_date">Date of Delivery</label>
          <div class="kw-datepicker-wrapper">
            <input type="datepicker" name="delivery_date" rules="required">
          </div>
        </div>

        <div class="form-element">
          <label for="message">Reason for Return / Exchange</label>
          <textarea
            name="message"
            rules="required"
            placeholder="Reason for Return / Exchange (in details, min 100 words)"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="kw-multistep-step" form-step-heading="Step 2">
      <div class="kw-multistep-body form-wrapper">

        <div class="form-element">
          <p>Attach Images</p>
        </div>
        <div class="form-element one-half">
          <label for="upload_image_front">Front Image</label>
          <input type="file" id="upload_image_front" name="upload_image_front" rules="required|image">
        </div>
        <div class="form-element one-half">
          <label for="upload_image_back">Front Image</label>
          <input type="file" id="upload_image_back" name="upload_image_back" rules="required|image">
        </div>
        <div class="form-element one-half">
          <label for="upload_image_extra_1">Extra 1</label>
          <input type="file" id="upload_image_extra_1" name="upload_image_extra_1" rules="image">
        </div>
        <div class="form-element one-half">
          <label for="upload_image_extra_2">Extra 2</label>
          <input type="file" id="upload_image_extra_2" name="upload_image_extra_2" rules="image">
        </div>

        <div class="form-element">
          <p>If product is not functioning, add video</p>
        </div>
        <div class="form-element one-half">
          <label for="upload_video_1">Video 1</label>
          <input type="file" id="upload_video_1" name="upload_video_1" rules="file">
        </div>
        <div class="form-element one-half">
          <label for="upload_video_2">Video 2</label>
          <input type="file" id="upload_video_2" name="upload_video_2" rules="file">
        </div>

        <div class="form-element">
          <label for="reason">Reason For Return</label>
          <select type="text" id="reason" name="reason" rules="required">
            <option value="">Please select...</option>
            <option value="q_not_happy">Not Happy with Style/Design/Size</option>
            <option value="q_dead_on_arrival">Product was Dead on Arrival</option>
            <option value="q_stopped_working_within_15_days">Product Stopped Working (within 15 days)</option>
            <option value="q_stopped_working_after_15_days">Product Stopped Working (after 15 days)</option>
            <option value="q_else">Other (explained in details in previous page)</option>
          </select>
        </div>

        <div class="form-element">
          <fieldset id="resolution" data-kw-group rules="required">
            <legend>Desired Resolution</legend>
            <input type="radio" name="resolution" value="r_exchange">
            <label for="r_exchange">Exchange for another product: I will pay for the re-shipping cost</label><br/>
            <input type="radio" name="resolution" value="r_store_credit">
            <label for="r_store_credit">Return in form of store credits: it's okay to deduct restocking fees and shipping cost</label><br/>
            <input type="radio" name="resolution" value="r_warranty_exchange">
            <label for="r_warranty_exchange">Product is under warranty (15 days) and needs replacement</label>
          </fieldset>
        </div>

        <div class="form-element">
          <label for="when">Best Time To Call 9am-6pm Mon-Fri</label>
          <select type="text" name="when" rules="required">
            <option value="">Please select...</option>
            <option value="call_anytime">Call anytime</option>
            <option value="9am_12pm_IST">Between 9am-12pm IST</option>
            <option value="12pm_3pm_IST">Between 12pm-3pm IST</option>
            <option value="3pm_6pm_IST">Between 3pm-6pm IST</option>
          </select>
        </div>

        <div class="form-element">
          <p>What happens next</p>
        </div>

        <div class="form-element input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" id="happens_next_1" name="happens_next_1" rules="required">
          <label for="happens_next_1">
            After submitting the form, please allow us 2 days to review the details, and get back to you with an RMA#  and instructions for RETURN PICKUP.
          </label>
        </div>

        <div class="form-element input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" id="happens_next_2" name="happens_next_2" rules="required">
          <label for="happens_next_2">
            Post Approval, plls follow the RMA instructions, re-pack your order, put in box/envelope & wait for pick up. It should be picked up in a day or two.
          </label>
        </div>

        <div class="form-element input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" id="happens_next_3" name="happens_next_3" rules="required">
          <label for="happens_next_3">
            Upon receipt at our warehouse, we will inspect the product & packaging, check for fingerprints under UV light to ensure it qualifies for a return.
          </label>
        </div>

        <div class="form-element input-checkbox-wrapper">
          <input class="input-checkbox" type="checkbox" id="happens_next_4" name="happens_next_4" rules="required">
          <label for="happens_next_4">
            Post inspection, we continue with the return request for exchange/store credit. Allow 7-10 business days for this cycle to complete till closure.
          </label>
        </div>

      </div>
    </div>
  </div>
</form>
