.collection-slider__wrapper {
    margin-top: 35px;
}

.collection-slider__wrapper .collection-slider__container {
    padding-bottom: 72px;
    position: relative;
}

.collection-slider__wrapper .collection-slider__container .collection-slider__header {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.collection-slider__wrapper .collection-slider__container .collection-slider__header .collection-slider__title {
    font: 700 75px/71px "Quicksand", sans-serif;
    color: rgba(255, 255, 255, .2);
    margin: 0 0 -10px 0;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    .collection-slider__wrapper .collection-slider__container .collection-slider__header .collection-slider__title {
        line-height: 90px;
    }
}

@media (max-width: 768px) {
    .collection-slider__wrapper .collection-slider__container .collection-slider__header .collection-slider__title {
        font-size: 10vw;
        line-height: 52px;
        margin-bottom: -11px;
    }
}

.collection-slider__wrapper .collection-slider__container .collection-slider__header .collection-slider__button {
    max-height: initial;
    min-height: initial;
    min-width: initial;
    border: 0.75px solid rgba(255, 255, 255, .8);
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font: 700 14px/21px "Quicksand", sans-serif;
    margin: 0;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
    max-width: 144px;
    color: #FFFFFF;
    opacity: 0.8;
}

@media (max-width: 749px) {
    .collection-slider__wrapper .collection-slider__container .collection-slider__header .collection-slider__button {
        padding: 0 0;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 4px;
        color: rgba(255, 255, 255, .6);
        border: 1px solid rgba(255, 255, 255, .4);
        border-radius: 5px;
        width: 76px;
        height: 26px;
        text-align: center;
    }
}

@media (max-width: 1350px) {
    .collection-slider__wrapper .collection-slider__container .collection-slider__header {
        padding: 0 16px;
    }
}

@media (max-width: 749px) {
    .collection-slider__wrapper .collection-slider__container .collection-slider__header {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
    }
}

.collection-slider__wrapper .collection-slider__container .swiper {
    width: 100%;
    height: 100%;
    max-height: 388px;
    max-width: 1440px;
    margin: 0 auto;
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide {
    border-radius: 10px;
    overflow: hidden;
    -webkit-filter: brightness(70%);
    filter: brightness(70%);
    -webkit-transition: -webkit-filter .5s ease-in-out;
    transition: -webkit-filter .5s ease-in-out;
    -o-transition: filter .5s ease-in-out;
    transition: filter .5s ease-in-out;
    transition: filter .5s ease-in-out, -webkit-filter .5s ease-in-out;
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide-active,
.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide-next,
.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide-prev {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide-next + .swiper-slide,
.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide-next + .swiper-slide + .swiper-slide {
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
}

@media (max-width: 480px) {
    .collection-slider__wrapper .collection-slider__container .swiper .swiper-slide-next + .swiper-slide,
    .collection-slider__wrapper .collection-slider__container .swiper .swiper-slide-next + .swiper-slide + .swiper-slide {
        -webkit-filter: brightness(70%);
        filter: brightness(70%);
    }
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a {
    position: relative;
    display: block;
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a .info__block {
    position: absolute;
    bottom: 16px;
    left: 19px;
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a .info__block .hashtag {
    font: 700 10px/15px "Quicksand", sans-serif;
}

@media (max-width: 768px) {
    .collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a .info__block .hashtag {
        font-size: 12px;
        line-height: 18px;
    }
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a .info__block .info__block-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    font: 700 18px/21px "Quicksand", sans-serif;
    font-style: italic;
    color: #27282e;
    padding: 0 10px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

@media (max-width: 768px) {
    .collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a .info__block .info__block-title {
        font-size: 16px;
        line-height: 32px;
    }
}

@media (max-width: 768px) {
    .collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a .info__block {
        bottom: 15px;
        left: 10px;
    }
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a img {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 291px;
}

@media (max-width: 768px) {
    .collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a img {
        height: 206px;
    }
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-slide a:hover .info__block-title {
    color: #fff;
    background-color: #ea1969;
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-button-next {
    width: 40px;
    height: 40px;
}

.collection-slider__wrapper .collection-slider__container .swiper .swiper-button-next:after {
    display: none;
}

@media (max-width: 749px) {
    .collection-slider__wrapper .collection-slider__container .swiper .swiper-button-next {
        width: 32px;
        height: 32px;
    }
}

@media (max-width: 1350px) {
    .collection-slider__wrapper .collection-slider__container .swiper {
        padding-left: 16px;
    }
}

.collection-slider__wrapper .collection-slider__container .swiper-pagination {
    bottom: 20px;
}

.collection-slider__wrapper .collection-slider__container .swiper-pagination .swiper-pagination-bullet {
    width: 7px;
    height: 7px;
    background: #444649;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    opacity: 1;
}

.collection-slider__wrapper .collection-slider__container .swiper-pagination .swiper-pagination-bullet-active {
    background: #d9d9d9;
    width: 37px;
    border-radius: 50px;
}

@media (max-width: 768px) {
    .collection-slider__wrapper .collection-slider__container .swiper-pagination {
        display: none;
    }
}

@media (max-width: 749px) {
    .collection-slider__wrapper .collection-slider__container {
        padding-bottom: 14px;
    }
}

@media (max-width: 749px) {
    .collection-slider__wrapper {
        margin-top: 0;
    }
}