.slider-mobile-gutter .product-grid {
  margin-top: 0;
  margin-bottom: 0;
}

.product-grid {
  row-gap: 2rem;
}

.product-grid .grid__item {
  padding-bottom: 0;
}

.product-recommendations-grid {
  padding-top: 8.6%;
  padding-bottom: 6%;
  background-image: url("data:image/svg+xml,%3Csvg width='390' height='950' viewBox='0 0 390 950' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5' filter='url(%23filter0_d_2701_107290)'%3E%3Cpath d='M99.6921 39.3117C72.496 45.7869 23.1581 40.1211 1.88861 36.4787L0.000366211 912.037C5.75616 913.791 21.5037 917.811 38.4473 919.861C59.6268 922.425 123.435 922.02 149.606 912.037C175.777 902.054 212.74 896.928 260.9 894.5C299.428 892.557 362.391 908.889 389.056 917.298L389.056 46.1916C373.182 48.3501 333.638 52.9367 302.449 54.0159C263.462 55.3649 265.081 47.9454 204.376 32.8364C143.67 17.7274 133.687 31.2176 99.6921 39.3117Z' fill='white' fill-opacity='0.05' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cg opacity='0.5' filter='url(%23filter1_d_2701_107290)'%3E%3Cpath d='M99.6921 641.312C72.496 647.787 23.1581 642.121 1.88862 638.479L0 911.689C5.75579 913.443 21.5033 917.463 38.4469 919.513C59.6264 922.076 123.435 921.672 149.606 911.689C175.777 901.706 212.74 896.58 260.899 894.152C299.427 892.209 362.39 908.541 389.056 916.95V648.192C373.182 650.35 333.638 654.937 302.449 656.016C263.462 657.365 265.081 649.945 204.376 634.836C143.67 619.727 133.687 633.218 99.6921 641.312Z' fill='white' fill-opacity='0.05' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cg opacity='0.5' filter='url(%23filter2_d_2701_107290)'%3E%3Cpath d='M64.3487 72.0928C40.4981 78.4601 11.0626 78.5348 0.270508 77.9502V882.264C4.54239 882.443 20.155 884.098 48.4303 889.278C83.7745 895.754 138.949 896.833 166.469 894C193.989 891.167 234.729 882.533 277.358 878.082C311.461 874.52 366.663 879.566 390.001 882.533V65.2128C359.378 56.8489 312.567 61.8403 293.816 65.2128C275.065 68.5853 242.553 68.5853 227.849 65.2128C213.145 61.8403 196.957 50.3736 161.748 46.8662C126.538 43.3588 94.1619 64.1336 64.3487 72.0928Z' fill='white' fill-opacity='0.05' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_2701_107290' x='-26.9799' y='0.0989257' width='443.016' height='949.154' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.07921'/%3E%3CfeGaussianBlur stdDeviation='13.4901'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2701_107290'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2701_107290' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d_2701_107290' x='-26.9803' y='602.099' width='443.016' height='346.806' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.07921'/%3E%3CfeGaussianBlur stdDeviation='13.4901'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2701_107290'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2701_107290' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter2_d_2701_107290' x='-26.7098' y='20.5699' width='443.691' height='902.964' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='1.07921'/%3E%3CfeGaussianBlur stdDeviation='13.4901'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2701_107290'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2701_107290' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.template-product .section-collection-product-grid {
  /* margin-top: -10rem; */
}

@media screen and (min-width: 750px) {
  .product-grid {
    row-gap: 2rem;
  }

  .product-recommendations-grid {
    padding-top: 1.4%;
    background-image: url("data:image/svg+xml,%3Csvg width='1440' height='904' viewBox='0 0 1440 904' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.5' filter='url(%23filter0_d_2237_103061)'%3E%3Cpath d='M363.806 121.654C262.377 145.808 78.369 124.673 -0.956311 111.087L-8 791.5C13.4665 798.042 72.1974 813.037 135.389 820.685C214.379 830.246 452.355 828.737 549.961 791.5C647.566 754.263 785.421 735.142 965.035 726.084C1108.73 718.838 1343.55 779.759 1443 811.125V147.317C1383.8 155.368 1236.32 172.477 1120 176.503C974.595 181.535 980.632 153.859 754.228 97.5006C527.823 41.1424 490.593 91.4622 363.806 121.654Z' fill='white' fill-opacity='0.05' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cg opacity='0.5' filter='url(%23filter1_d_2237_103061)'%3E%3Cpath d='M231.898 243.606C142.977 267.366 40.2766 268.943 0.0411911 266.762L-7 705.206C8.9265 705.877 67.1337 712.052 172.55 731.382C304.321 755.544 510.025 759.571 612.625 749C715.225 738.429 867.114 706.213 1026.04 689.601C1153.19 676.312 1358.99 695.139 1446 706.213V217.934C1331.83 186.725 1157.31 205.35 1087.4 217.934C1017.49 230.519 896.284 230.519 841.464 217.934C786.643 205.35 726.29 162.563 595.022 149.475C463.754 136.387 343.048 213.907 231.898 243.606Z' fill='white' fill-opacity='0.05' shape-rendering='crispEdges'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_2237_103061' x='-83' y='0' width='1601' height='903.655' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='3'/%3E%3CfeGaussianBlur stdDeviation='37.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2237_103061'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2237_103061' result='shape'/%3E%3C/filter%3E%3Cfilter id='filter1_d_2237_103061' x='-82' y='76' width='1603' height='756.502' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='3'/%3E%3CfeGaussianBlur stdDeviation='37.5'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.4 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_2237_103061'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_2237_103061' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E%0A");
  }
  
  .template-product .section-collection-product-grid {
    margin-top: -7.5rem;
  }
}

@media screen and (max-width: 749px) {
  .product-grid .grid__item:only-child {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .product-grid:not(.grid--1-col-mobile) .card-information__button {
    height: 3.4rem;
  }

  .product-grid:not(.grid--1-col-mobile) .card-information__button .button {
    width: 3.4rem;
    min-height: 3.4rem;
  }

  .product-grid:not(.grid--1-col-mobile) .card-information .button--soldout {
    width: 100%;
    min-width: auto;
    min-height: 3.4rem;
  }
}

/* CWS */
.Ship__product {
  font-size: 11px;
  display: flex;
  justify-content: center;
}

/* Description */
.collection-description__wrapper {
    margin-top: 28px;
    position: relative;
    display: flex;
    flex-flow: column;
}
.collection-description__wrapper .collection-description__text-content-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.collection-description__wrapper p {
  font: 700 14px/1.5 'Quicksand', sans-serif;
  color: rgba(255, 255, 255, 0.8);

}
.collection-description__wrapper p > span {
  font: 700 14px/1.5 'Quicksand', sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
.collection-description__wrapper p > i > span  {
  font: 700 16px/1.5 'Quicksand', sans-serif;
  color: rgba(255, 255, 255, 0.8);
}
.collection-description__wrapper .button {
  margin-top: 14px;
  font: 700 14px/1.5 'Quicksand', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  background-color: transparent;
  max-width: 148px;
  width: 100%;
  min-height: initial;
  min-width: initial;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

@media(min-width: 750px) {
  .collection-description__wrapper .collection-description__text-content-wrap h2,
  .collection-description__wrapper .collection-description__text-content-wrap h3,
  .collection-description__wrapper .collection-description__text-content-wrap h4,
  .collection-description__wrapper .collection-description__text-content-wrap h5,
  .collection-description__wrapper .collection-description__text-content-wrap h6 {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.8;
  }
  .collection-description__wrapper p,
  .collection-description__wrapper p > span,
  .collection-description__wrapper p > i > span  {
    font-size: 10.5px;
  }
}

@media(max-width: 768px) {
  .collection-description__wrapper .button {
    margin-top: 28px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    width: 87px;
    min-width: 87px;
    height: 26px;
    border-radius: 5px;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}