.section--blog .section--padding,
.section--blog .section--padding .title-wrapper {
  padding-top: 0;
}

.blog .title-wrapper .title {
  margin-top: 0;
  margin-bottom: -2.1rem;
  font-weight: 700;
  font-size: 10vw;
  line-height: 1;
  text-transform: uppercase;
  opacity: .2;
}

.page-button {
  min-width: unset;
  min-height: 2.6rem;
  opacity: .6;
  padding: 0.9rem;
  background-color: transparent;
  border-color: var(--color-base-outline-button-labels);
  color: var(--color-base-outline-button-labels);
  font-size: 1.2rem;
  line-height: 1;
  margin-top: 1.8rem;
}

.page-button:hover {
  background-color: transparent;
}

.article-card {
  position: relative;
}

.article-card__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 1;
  position: absolute;
  padding: 1.2rem 1.5rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.blog__posts.articles-wrapper {
  row-gap: 0.75rem;
  column-gap: 0.65rem;
}

.blog__post {
  padding-bottom: 0;
}

@media screen and (min-width: 750px) {
  .blog .title-wrapper .title {
    margin-bottom: -22px;
    font-weight: 700;
    font-size: 75px;
    line-height: 71px;
  }

  .blog__posts.articles-wrapper {
    gap: 15px;
    --grid-horizontal-spacing: 1.5rem;
  }

  .blog__posts--4-items .grid__item {
    width: 50%;
  }

  .blog .article-card__date {
    font-weight: 700;
    font-size: 10px;
    line-height: 15px;
  }
}

@media screen and (max-width: 749px) {
  .section--blog {
    margin-bottom: -4rem;
  }

  .section--blog .section--padding {
    padding-top: 0.6rem;
    padding-bottom: 0;
  }
}
@media(max-width: 480px) {
  .blog .view-all  .button {
    width: initial;
  }
}